smartmeter-adf-0/PartialArmTemplates/ArmTemplate_3_24_2020_12_6_7.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "smartmeter-adf-0"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureSQL2OnPrem')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "AzureSQL2OnPrem",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"isolationLevel": "Snapshot"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "FileServerWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "AzureSql_FlightAndWeather1_Table",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "OnPrem_FlightAndWeatherRawFiles_Output",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OnPrem_FlightAndWeatherRawFiles_Output')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPrem2AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OnPrem2AzureSQL",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"modifiedDatetimeStart": {
										"value": "@{adddays(utcnow(),-1)}",
										"type": "Expression"
									},
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"tableOption": "autoCreate"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OriginAirportCode",
											"type": "String"
										},
										"sink": {
											"name": "OriginAirportCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Month",
											"type": "String"
										},
										"sink": {
											"name": "Month",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DayofMonth",
											"type": "String"
										},
										"sink": {
											"name": "DayofMonth",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "CRSDepHour",
											"type": "String"
										},
										"sink": {
											"name": "CRSDepHour",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "DayOfWeek",
											"type": "String"
										},
										"sink": {
											"name": "DayOfWeek",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "Carrier",
											"type": "String"
										},
										"sink": {
											"name": "Carrier",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DestAirportCode",
											"type": "String"
										},
										"sink": {
											"name": "DestAirportCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DepDel15",
											"type": "String"
										},
										"sink": {
											"name": "DepDel15",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "WindSpeed",
											"type": "String"
										},
										"sink": {
											"name": "WindSpeed",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "SeaLevelPressure",
											"type": "String"
										},
										"sink": {
											"name": "SeaLevelPressure",
											"type": "Int32"
										}
									},
									{
										"source": {
											"name": "HourlyPrecip",
											"type": "String"
										},
										"sink": {
											"name": "HourlyPrecip",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OnPrem_FlightAndWeatherRawFiles_Input",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSql_FlightAndWeather_Table",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OnPrem_FlightAndWeatherRawFiles_Input')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPrem2Datalake2AzureSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "OnPrem2Datalake",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "FileServerReadSettings",
									"recursive": true,
									"wildcardFileName": "*"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "MergeFiles"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "OriginAirportCode",
											"type": "String"
										},
										"sink": {
											"name": "OriginAirportCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Month",
											"type": "String"
										},
										"sink": {
											"name": "Month",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DayofMonth",
											"type": "String"
										},
										"sink": {
											"name": "DayofMonth",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CRSDepHour",
											"type": "String"
										},
										"sink": {
											"name": "CRSDepHour",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DayOfWeek",
											"type": "String"
										},
										"sink": {
											"name": "DayOfWeek",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "Carrier",
											"type": "String"
										},
										"sink": {
											"name": "Carrier",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DestAirportCode",
											"type": "String"
										},
										"sink": {
											"name": "DestAirportCode",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "DepDel15",
											"type": "String"
										},
										"sink": {
											"name": "DepDel15",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "WindSpeed",
											"type": "String"
										},
										"sink": {
											"name": "WindSpeed",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "SeaLevelPressure",
											"type": "String"
										},
										"sink": {
											"name": "SeaLevelPressure",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "HourlyPrecip",
											"type": "String"
										},
										"sink": {
											"name": "HourlyPrecip",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "OnPrem_FlightAndWeatherRawFiles_Input",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "Datalake_FlightAndWeatherRawFiles",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Datalake2AzureSQL",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "OnPrem2Datalake",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Datalake_FlightAndWeatherRawFiles",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSql_FlightAndWeather1_Table",
								"type": "DatasetReference"
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/OnPrem_FlightAndWeatherRawFiles_Input')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPrem_FlightAndWeatherRawFiles_Input')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Datasource_1_FileFolder",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": "Input/FlightsAndWeather"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OriginAirportCode",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "DayofMonth",
						"type": "String"
					},
					{
						"name": "CRSDepHour",
						"type": "String"
					},
					{
						"name": "DayOfWeek",
						"type": "String"
					},
					{
						"name": "Carrier",
						"type": "String"
					},
					{
						"name": "DestAirportCode",
						"type": "String"
					},
					{
						"name": "DepDel15",
						"type": "String"
					},
					{
						"name": "WindSpeed",
						"type": "String"
					},
					{
						"name": "SeaLevelPressure",
						"type": "String"
					},
					{
						"name": "HourlyPrecip",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/OnPrem_FlightAndWeatherRawFiles_Output')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Datasource_1_FileFolder",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "Output/FlightsAndWeather/@{formatDateTime(adddays(utcnow(),-1),'yyyy')}/@{formatDateTime(adddays(utcnow(),-1),'MM')}/@{formatDateTime(adddays(utcnow(),-1),'dd')}",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "OriginAirportCode",
						"type": "String"
					},
					{
						"name": "Month",
						"type": "String"
					},
					{
						"name": "DayofMonth",
						"type": "String"
					},
					{
						"name": "CRSDepHour",
						"type": "String"
					},
					{
						"name": "DayOfWeek",
						"type": "String"
					},
					{
						"name": "Carrier",
						"type": "String"
					},
					{
						"name": "DestAirportCode",
						"type": "String"
					},
					{
						"name": "DepDel15",
						"type": "String"
					},
					{
						"name": "WindSpeed",
						"type": "String"
					},
					{
						"name": "SeaLevelPressure",
						"type": "String"
					},
					{
						"name": "HourlyPrecip",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/month_trigger')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "OnPrem2Datalake2AzureSQL",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Month",
						"interval": 1,
						"startTime": "2020-03-24T12:03:00.000Z",
						"timeZone": "UTC",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								12
							],
							"monthDays": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/OnPrem2Datalake2AzureSQL')]"
			]
		}
	]
}